<mat-card class="ps-2 mb-4">
    <div class="d-flex justify-content-between align-items-center p-1">
        <div><h4>Products</h4></div>
        <div>
            <button type="button" class="btn btn-primary d-flex justify-content-between align-items-center" matTooltip="Add Products" (click)="openForm()"><mat-icon>add</mat-icon>Add</button>
        </div>
    </div>
</mat-card>

<mat-card>
<div class="table-container">
  <table mat-table [dataSource]="products" class="mat-header-row mat-elevation-z8">  

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Product Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Procuct price</th>
      <td mat-cell *matCellDef="let product">{{ product.price }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Procuct Description</th>
      <td mat-cell *matCellDef="let product">{{ product.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let product">
        <button type="button" class="me-2 px-1 pt-2  btn btn-outline-primary" matTooltip="Edit" (click)="openForm(product)">
          <mat-icon class="pt-1" >edit</mat-icon>
        </button>
        <button type="button" class="me-2 px-1 pt-2 btn btn-outline-danger" matTooltip="Delete" (click)="deleteProduct(product._id)">
          <mat-icon class="pt-1" >delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</mat-card>